body {
	margin: 0;
	height: 100vh;

	--bg-color: #222;
	/* great variable naming scheme here */
	--text-white: #eee;
	--white-darker: #aaa;
	--white-darkest: #777;

	background-color: var(--bg-color);
}

#container {
	padding: 2em 2em;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
}



#buttons, #log-location {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

#log-location {
	font: 1em system-ui, arial;
	color: var(--text-white);
}



h1, p {
	font: 2em system-ui, arial;
	color: var(--text-white);
	margin: 0;
}

#state {
	font-size: 1.5em;
}



button {
	background: none;
	font: normal bold 1em system-ui, arial;
	color: var(--text-white);

	border: 1px solid var(--white-darker);
	box-sizing: border-box;
	border-radius: 4px;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;

	background-color: var(--text-white);
	color: var(--bg-color);
}

button:disabled {
	cursor: default;
	text-decoration: none;
	color: var(--white-darker);
}

button:disabled:hover {
	background-color: transparent;
}



#location-input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--text-white);

	font: 1em system-ui, arial;
	color: var(--text-white);
	text-align: left;
}

#location-input:focus-visible {
	outline: none;
}


/* spacing fun time */

h1 {
	/* I LOVE RELATIVE UNITS!!!! I LOVE RELATIVE UNITS!!!!! */
	margin-bottom: 0.5em;
}

#buttons {
	/* 0.5EM THERE AND 2EM HERE!!!! */
	/* TODO: please just use rem */
	margin-bottom: 2em;
}
